@media (max-width: 1120px) {
    .custom_nav-container .form-inline input {
        display: none;
    }
}

@media (max-width: 992px) {
    .login_btn-contanier {
        margin: 15px 0;
    }
    .feature_section .feature_container .box {
        display: flex;
        margin: auto;
    }
    .hero_area {
        height: auto;
    }

    .slider_section.position-relative {
        padding: 120px 0;
    }
    .slider_section p {
        display: none;
    }
    .product_section {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact_section {
        margin-top: 20px;
    }

}

@media (max-width: 768px) {
    .slider_section .detail-box h1 {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .slider_section .detail-box p {
        display:none;
    }
    .slider_section{
        background-image: url(images/phonebackgroundtry.jpg);
        height: 100%;
    }
    .slider_section .carousel-control-prev,
    .slider_section .carousel-control-next {
        display: none;
    }

    .slider_section img {
        margin-top: -50px;
        text-align: center;
    }
    .slider_section .detail-box {
        margin: -200px;
        text-align: center;
    }
    .slider_section h1 {
        margin-top: 500px;
        margin-bottom: -1000px;
        text-align: center;
    }
    .discount_section .detail-box {
        text-align: center;
    }

    .client_section .client_container {
        width: 95%;
    }

    .contact_section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact_section .detail-box {
        margin: 0 -15px;
        margin-top: 25px;
    }
    .contact_section img {
        display: none;
    }

    .info_section {
        text-align: center;
    }

    .info_section .row>div {
        margin: 25px 0;
    }

    .info_section .info_contact .box {
        justify-content: center;
    }

    .footer_section p {
        width: auto;
    }
}

@media (max-width: 576px) {
    html, body {
        overflow-x: hidden;
    }
    .health_section .box {
        width: auto;
        margin-right: 5px;
    }
    .info_section img {
        width: 10%;
    }
    .slider_section .img-box img {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 360px) {
    .top_contact-container {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}